# This should go to `/etc/muscl/config.toml`

[server]
# The path to the socket where users can connect to the daemon.
#
# Note that this options gets ignored if you are using systemd socket activation
# (see `systemctl status muscl.socket`)
socket_path = "/run/muscl/muscl.sock"

[mysql]

# Hostname and port of the database.
host = "localhost"
port = 3306

# The path to the unix socket of the database.
# If you uncomment this line, the host and port will be ignored

# socket_path = "/run/mysql/mysql.sock"

# The username and password for the database connection.
# The username and password can be omitted if you are connecting
# to the database using socket based authentication.
# However, the vendored systemd service is running as DynamicUser,
# so these need to be specified by default unless you override the
# systemd unit.
username = "root"
password = "secret"

# Database connection timeout in seconds
timeout = 2
