[Unit]
Description=Muscl MySQL admin tool

[Socket]
ListenStream=/run/muscl/muscl.sock
Accept=no
PassCredentials=true

[Install]
WantedBy=sockets.target
